.header{
  background-color: #9dd8e7;
  height: 90px;
      max-width: 960px;
     margin-top: 0px;
     margin-right: auto;
     margin-bottom: 0px;
     margin-left: auto;

}
body{
    background-color: #f5f5f5;
    max-width: 960px;
     margin-top: 0px;
     margin-right: auto;
     margin-bottom: 0px;
     margin-left: auto;

}
h1{
  text-align: center;
   color: #1a5490;

}
nav{
    text-align: center;
    margin-bottom: 32px;
    padding: 12px 0;
    background-color: #ffffff;
    box-shadow: 0 3px 8px rgba(15, 23, 42, 0.08);
}
h2{
   color: #1a5490;
   background: linear-gradient(to right, #e3f2fd 0%, #f4f7fb 60%);
}

h3{
   color: #1f6dc0;
}
table{
 margin: 1em 4em;
padding: 0.5me;
}



p.note{
    border: thin gray solid; 
    margin: 1em 4em; 
    padding: 0.5em;
    font-size: 11pt;    
    box-shadow: 0 3px 8px rgba(15, 23, 42, 0.08);
}
